#page-create-point {
       width: 90%;
       max-width: 1100px;
       margin: 0 auto;
       
}
#page-create-point header{
       display: flex;
       margin-top: 50px;
       justify-content: space-between;
       align-items: center;
   

}
#page-create-point header a{
       color: var(--title-color);
       font-weight: bold;
       display: flex;
}
#page-create-point header a span{
       background-image: url('../assets/arrow-left.svg');
       width: 20px;
       height: 25px;
       margin-right: 15px;
       display: flex;
}
form {
   background-color: white;
   padding: 65px;
   border-radius: 8px;
   margin-top: 80px;
   max-width: 730px;
   margin: 80px auto;
}

form h1 {
    font-size: 36px;


}
form fieldset {
    margin-top: 64px;
    border: 0;

}
form legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
form legend h2 {
    font-size: 24px; 

}
form legend span{
    color: var(--title-color);
    





}
form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    flex: 1;

}
form .field-group {
    display: flex;
    


}
form input, form select {
    background-color: #f0f0f5;
    border: 0;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 8px;



}
form select {
    -moz-appearance: none;
    appearance: none;

}
font label {
    font-size: 15px;
    margin-bottom: 8px;


}
form .field-group .field + .field{
    margin-left: 25px;
}
form button{
    width: 260px;
    height: 56px;
    background-color:var( --primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    margin-top: 40px;
    
}
form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    
    
}

.items-grid li {
    background-color: #f0f0f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    height: 180px;
    border-radius: 8px;
    align-items: center;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;

}
.items-grid li span {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 12px;

}

.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
  


}
.items-grid li img,
.items-grid li span {
         pointer-events: none;      


   
}

































